<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/index.css">
    <title>World Wide Web</title>
    <script type="text/javascript">
      if (true) {
         window.alert("working!")
      }
    </script>
  </head>
  <body>
    <div class="header">
      <h1 class="page-title">World Wide Web</h1>
    </div>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/what">What</a></li>
      <li><a href="#why">Why</a></li>
      <li><a href="#where">Where</a></li>
    </ul>
    <div class="main-content">
    </div>
    <div class="footer">
      <p>Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.</p>
    </div>
  </body>
</html>
